html, body {
    width:336px;
    height:360px;
    margin:0;
    padding:0
}
body {
    display: flex;
    flex-direction:column;
    background-color: #F5F5F5;
}

#result-content li {
    margin-left: -15px;
}

#result-content p {
    padding: 0px 0px 0px 25px;
    font-size: 14px;
}
#result-content .ol li {
    list-style: outside none decimal;
}

#result-content ul > p {
    display: list-item;
}

p.additional {
    font-style: italic;
}

#result-content ul p {
    margin-left: -15px;
}


a {
    pointer-events:none;
    cursor: default;
    text-decoration: none;
    color: inherit;
}

#input-div {
    flex: 0 0 auto;
    height: 42px;
    width: 100%;
    background-color: #1BB496;
}

#result-div {
    flex: 1 1 0%;
    background-color:#333333;
    overflow: auto;
}

#input-panel {
    display: flex;/*Define 'input-panel' as a flex container.*/
    padding: 5px;
    height: 32px;
}

#text-box {
    flex: 1 1 0%;
    padding: 5px 15px 6px;
    border-style: none;
    border-radius: 4px 0px 0px 4px;
    color: #4D4D4D;
    min-width: 0px;
    font-size: 16px;
    font-family: "PingFang SC","Microsoft YaHei",arial,sans-serif;
}

#go-search-btn {
    width:40px;
    flex: 0 0 auto;
    padding: 3px 0px 2px;
    background-color:#FFF;
    background-image: url("ico/search-btn-gray.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0px 4px 4px 0px;
    border-width: 1px;
    border-style: none none none solid;
    border-color: #BABABA #BABABA #BABABA #E0E0E0;
    font-size: 14px;
    transition: background-color 0.2s ease 0s;
}
#go-search-btn:hover {
    background-color: #F5F5F5;
    background-image: url("ico/search-btn.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#dict-select-menu {
    width:32px;
    flex: 0 0 auto;
    background-color: #FFFFFF;
    display: flex;/*Define 'dict-select-menu' as a flex container.*/
}
#dict-icon {
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: all;
    cursor: pointer;
}
#dict-icon:after {
    position: absolute;
    right:76px;
    top: 18px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#dict-icon:hover:after {
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

#dict-select-menu:hover > #dict-list {
  display: block;/*Show the list.*/
}
#dict-list {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 37px;
    right:58px;
    width:48px;
    list-style-type:none;
    text-align: center;
    z-index: 1;
}

#dict-list > li > a {
    font-size: 12px;
    display: block;
    padding-left: 22px;
    color: #FFFFFF;
    pointer-events: all;
    cursor: pointer;
    font-family: "PingFang SC","Microsoft YaHei",arial,sans-serif;
}

#dict-list > li > a:link {
  text-decoration: none;
}
#dict-list > li > a:hover {
  text-decoration: none;
  color:#333333;
}
#dict-list > li:hover {
    background-color: #EFEFEF;
}
#dict-list > li {
    background-color: #1BB496;
    width: 72px;
    text-align: left;
    padding-left: 5px;
    line-height: 24px;
}
#youdao {
    background-repeat: no-repeat;
    background-image: url("ico/favicon-youdao.ico");
    background-position: left center;
}
#bing {
    background-repeat: no-repeat;
    background-image: url("ico/favicon-bing.ico");
    background-position: left center;
}
#iciba {
    background-repeat: no-repeat;
    background-image: url("ico/favicon-iciba.ico");
    background-position: left center;
}

#result-content {
    padding: 0px 15px 15px 5px;
    color:#F5F5F5;
    font-size: 16px;
    font-family: "PingFang SC","Microsoft YaHei",arial,sans-serif;
}

#error {
    text-align: center;
    margin-top: 32px;
}

#loading {
    text-align: center;
}

#loading-spinner {
    width: 50px;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#loading-spinner > div {
    background-color: #1BB496;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

#loading-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#loading-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#loading-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#loading-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}