#result-content li {
	margin-left: -15px;
}

#result-content > ul > li > span.def {
	display: list-item;
	list-style: none;
}

#result-content .pos.web {
	display: block;
	list-style: none;
	margin-top: 20px;
	font-size: 14px;
	font-style: italic;
}

#result-content .pos.web + .def {
	font-size: 14px;
}

#result-content .hd_div1 .hd_if {
	display: list-item;
	list-style: square;
	margin-left: 25px;
	margin-top: 10px;
	font-size: 14px;
}

#result-content .hd_div1 .hd_if span{
	font-style: italic;
	margin-left: 5px;
}

#result-content .hd_div1 .hd_if a{
	margin-left: -5px;
}