#result-content li {
	margin-left: -15px;
}

#result-content p {
	padding: 0px 0px 0px 25px;
	font-size: 14px;
}
#result-content .ol li {
    list-style: outside none decimal;
}

#result-content ul > p {
	display: list-item;
}

p.additional {
	font-style: italic;
}

#result-content ul p {
	margin-left: -15px;
}
